
/*******************************************************************************************/
/********************************* FEUILLE DE STYLE PAR DEFAUT ************************************/
/*******************************************************************************************/



p{
  color: red;
}

#test{
  display: grid;
  grid-template-columns: 25% 75%;
}
