
/*
* Cette feuille de style est destinée aux mobiles,
* le navigateur l'utilisera uniquement si la largeur du navigateur est inférieur à 500px;
* elle surchargera les styles du fichier style.css
*/


/*pour les écrans dont la largeur maximum est 500px : */
@media screen and (max-width: 500px)
{

  h1{
    font-size: 34px;
    color:#c17130;
  }


  #container{
    background: #fff;
    width: 100%;
  }

  .contenu {
    display: grid;
    grid-template-columns: 100%;
    padding: 0 15px;
  }

  .etape-contenu{
    margin-left: 15px;
  }

  .etape img{
    width: 100px;
  }

}
