
/*******************************************************************************************/
/********************************* FEUILLE DE STYLE PAR DEFAUT ************************************/
/*******************************************************************************************/




body{
  margin: 0;
  padding: 0;
  background: beige;
}


/*********************************************************/
/***************** TYPO *******************/
/*********************************************************/

h1{
 font-size: 46px;
 font-weight: bold;
 margin-bottom: 10px;
 text-align: center;
 text-transform: uppercase;
}

h2{
  color:#c17130;
  font-size: 36px;
}

h3{
  color:#668686;
  font-size: 24px;
  margin: 0px 0 15px 0;
}

h4{
  color:#c17130;
  font-size: 20px;
  margin: 0 0 5px 0;
}

p{
  font-size: 18px;
  font-weight: normal;
}

a{
  color: #FF0000;
}

a:hover{
  color: #000000;
  text-decoration: none;
}


/*********************************************************/
/***************** HEADER *******************/
/*********************************************************/

#header{
  padding:15px 15px 15px 15px;
}
.auteur{
  text-align: center;
  color: #666;
}


/*********************************************************/
/***************** STRUCTURE *******************/
/*********************************************************/

#container{
  background: #fff;
  width: 1080px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.contenu {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto;
  padding-left: 15px;
}

.colonne {
  padding: 15px;
}

.colonne-gauche {
  background: #ddeeee;
  border-radius: 10px;
}

.colonne-droite {
  background: white;
}

/*********************************************************/
/***************** COLONNE GAUCHE *******************/
/*********************************************************/


.colonne-gauche h2{
  text-align: center;
  color: #668686;
}

.colonne-gauche ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.colonne-gauche ul li{
  padding: 0 0 0 10px;
  font-size: 18px;
  line-height: 30px;
  border-bottom-color: #668686;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
}
.colonne-gauche ul li:hover{
background: #668686;
color: white;
}

.col-titre{
  font-size: 24px;
  color:#c17130;
  margin: 5px 0;
}

.lead{
  font-weight: bold;
  font-size: 30px;
  margin: 2px 0;
}

.parts{
  font-size: 14px;
  font-style: italic;
  color: gray;
  margin: 0;
}
/*
***** QUANTITE
*/

.bloc{
  background: white;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  margin-bottom: 10px;
}

.col-titre{
  font-size: 24px;
  color:#c17130;
  margin: 5px 0;
}

.quantite-contenu {
  width: 50%;
  margin: 5px auto;
  display: grid;
  grid-template-columns: 20% 60% 20%;
}


#btn-moins,
#btn-plus{
  border: none;
  background-color: #c17130;
  font-size: 18px;
  color: white;
  padding: 5px;
  width: 25px;
}



/*********************************************************/
/***************** COLONNE DROITE *******************/
/*********************************************************/

.etape{
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 25% 75%;
  padding-bottom: 10px;
  border-bottom: dashed 2px #ddeeee;
}



.etape img{
  width: 150px;
}



.preparation h2{
  margin-top: 0;
}


.notes{
  clear: both;
  background: beige;
  border-radius: 15px;
  padding: 15px;
}

.notes h4{
  text-transform: uppercase;
}

img.bullet{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: solid 4px #c17130;
}
img.bullet:hover{
  border: solid 4px #668686;
}






/***************** EXTRAS *******************/


.img-responsive {
  width: 100%;
  height: auto;
}




/*********************************************************/
/***************** FOOTER *******************/
/*********************************************************/



.copyright{
  text-align: center;
  padding: 20px 0 20px 0;
}

.copyright a{
  color: #777777;
}
